<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>自动发现设备</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>自动同步闹钟</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
