<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>头像</string>
			<key>detail</key>
			<string>1.jpeg</string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>用户名</string>
			<key>detail</key>
			<string>宁宁</string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>昵称</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>密码</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>性别</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string>RnMeSexSettingViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>手机号</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>生日</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>学校</string>
			<key>detail</key>
			<string></string>
			<key>type</key>
			<string>ArrowItem</string>
			<key>vcClass</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
