<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>音乐偏好</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>datas</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>曲风偏好</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>歌手偏好</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>新闻偏好</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>datas</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>国内</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>财经</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>娱乐</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>段子偏好</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>datas</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>荤段子</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>冷笑话</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>爆笑</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>个人偏好</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>datas</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>动漫</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>NBA</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>聊天</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string>ArrowItem</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
