<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>北京</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>schools</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>清华大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京师范大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>天津</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>schools</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>清华大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京师范大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>河北</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>schools</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>清华大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京师范大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>山东</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>schools</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>清华大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京师范大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>广东</string>
		<key>detail</key>
		<string></string>
		<key>type</key>
		<string>ArrowItem</string>
		<key>schools</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>清华大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>北京师范大学</string>
				<key>detail</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
